a:link, a:visited { text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
a:focus { outline: none; text-decoration: underline; }
td { font-family: Lucida Console, monospace; font-size: 20px; font-weight: bold; outline: none; }
body { font-family: Lucida Console, monospace; font-size: 20px; font-weight: bold; outline: none; }
input { text-align: center; font-family: Lucida Console, monospace; font-size: 20px; font-weight: bold; outline: none; }
/* https://stackoverflow.com/questions/10813528/is-it-possible-to-center-text-in-select-box */
select { text-align-last: center; padding-left: 29px; font-family: Lucida Console, monospace; font-size: 20px; font-weight: bold; outline: none; }