a:link, a:visited { text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
a:focus { outline: none; text-decoration: underline; }
//td { position: relative; } //font-family: Lucida Console, monospace; font-size: 20px; font-weight: bold; outline: none; }
//body { font-family: Lucida Console, monospace; font-size: 20px; font-weight: bold; outline: none; }
//input { font-family: Lucida Console, monospace; font-size: 20px; font-weight: bold; outline: none; }
/* https://stackoverflow.com/questions/10813528/is-it-possible-to-center-text-in-select-box */
//select { text-align-last: center; padding-left: 29px; } //font-family: Lucida Console, monospace; font-size: 20px; font-weight: bold; outline: none; }
/* https://stackoverflow.com/questions/5235142/how-do-i-disable-the-resizable-property-of-a-textarea */
//textarea { resize: none; } //font-family: Lucida Console, monospace; font-size: 20px; font-weight: bold; outline: none; }
/* https://css-tricks.com/snippets/css/text-rotation/ */
.rotate {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  white-space: nowrap;
  transform-origin: 0 0;
  transform: rotate(270deg);
}