/*
div#margin10px {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}*/
/*
div#padding10px {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}*/
/*
.disable-select {
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none; 
  user-select: none;
}
*//* TODO - allow select for input
* {
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
  user-select: none;
}
*/
/*body { font-family: Tahoma, serif; font-weight: bold; }*/
/*a { font-weight: bold; }*/
a:link, a:visited { text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
a:focus { outline: none; text-decoration: underline; }
/* img { background: transparent; } */
input { font-family: Lucida Console, monospace; font-size: 24px; font-weight: bold; outline: none; }
/*input::selection { .. }*/
/*input::-moz::selection { .. }*/
/*
input[type=text] {
  border: 2px solid;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}
input[type=text]:focus {
  border: 4px solid;
  padding: 8px 8px 8px 8px;
}*//*
input[type=text]::-ms-clear {
  display: none;
}
input[type=password] {
  border: 2px solid;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}
input[type=password]:focus {
  border: 4px solid;
  padding: 8px 8px 8px 8px;
}*//*
input[type=password]::-ms-reveal {
  display: none;
}*/