// calendar.css

// https://stackoverflow.com/questions/602168/in-css-what-is-the-difference-between-and-when-declaring-a-set-of-styles

.calendarTable {
  vertical-align: top;
}
.ctr {
  vertical-align: top;
}
.ctd {
  vertical-align: top;
  text-align: center;
  padding: 5px;
}
.ctd2 {
  vertical-align: top;
  text-align: right;
  padding: 5px;
}
.ca:link, .ca:visited {
  color: #000000;
  text-decoration: none;
}
.ca:hover, .ca:active {
  color: #000000;
  text-decoration: underline;
}