// index.css

/* https://www.w3schools.com/css/css_tooltip.asp */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* https://www.w3schools.com/css/css_tooltip.asp */
/* https://www.w3schools.com/css/css_text.asp => including text direction */
body {
  background-color: white;
  font-family: sans-serif; /* "Times New Roman", Times, serif */ /* Serif, Sans-Serif, Monospace */ /* https://www.w3schools.com/css/css_font.asp */
  font-style: normal; /* normal, italic, oblique */
  font-size: 12px; /* 100%, 1.875em (30px/16=1.875em), 0.875em (14px/16=0.875em) */
  font-weight: normal; /* normal, bold */
  font-variant: normal; /* normal,small-caps */
}